@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--background: #070708;
	--section-bg: #121214;
	--card-bg: #18181B;
	--gray-text: #434349;
	--shape: #49351C;
	--text: #FFFFFF;
	--mark: #FFD4A3;
	--category: #D9D9D9;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2rem !important;
	font-family: "Syne", serif;
	background-color: var(--background);
	color: var(--text);
}

.mark {
	color: var(--mark);
}

.subtitle {
	color: #FFF;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 500;
	line-height: 60px;
}

.section {
	background: var(--section-bg);
	padding: 1rem 1.5rem 2rem 1.5rem;
	display: flex;
	flex-direction: column;
	border-radius: 16px;
	box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.25);
}

.bg-section {
	background-color: var(--section-bg);
}

/* CARD */

.card {
	background-color: var(--card-bg);
}

.category {
	color: var(--category);
}

.poppins {
	font-family: 'Poppins', sans-serif;
}

.responsive {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

@media (min-width: 1140px) {
	.responsive {
		width: 1080px;
		display: flex;
		flex-direction: column;
		gap: 8rem;
	}
}


/*  NAVBAR RESPONSVIE  */

.navbar {
	padding: 1rem 1.5rem;
	box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.25);
}



/* CONTACT */

.gray-text {
	color: var(--gray-text);
	transition: color 0.3s ease;
}

.contact img {
	transition: filter 0.3s ease;
}

.contact:hover span {
	color: var(--text);
}

.contact:hover img {
	filter: brightness(0) invert(1);
}

hr {
	height: 1px;
	border-color: rgba(255, 255, 255, 0.1);
}


/* MAPS */

.maps {
	box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.25);
	border-radius: 16px;
	overflow: hidden;
}




/* ANIMATION TEXTE  */

@keyframes fadeIn {
	0% {
	  opacity: 0;
	  transform: translateY(20px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  .fade-in {
	animation: fadeIn 1.5s ease-out;
  }
  


  /* ANIMATION NAVBAR */

@keyframes fadeInFromTop {
	0% {
	  opacity: 0;
	  transform: translateY(-100%); 
	}
	100% {
	  opacity: 1;
	  transform: translateY(0); 
	}
  }
  
  .navbar-fade-in {
	animation: fadeInFromTop 1s ease-out;
  }
  


  /* ANIMATION DOMAINE D'EXPERTISE */

/* Cache les éléments au début */
li {
	opacity: 0;
	visibility: hidden;
	transform: translateY(20px); /* Décale légèrement les éléments vers le bas */
	transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Transition fluide */
  }
  
  /* Animation fadeIn */
  @keyframes fadeIn {
	0% {
	  opacity: 0;
	  visibility: hidden;
	  transform: translateY(20px); /* Démarre légèrement en bas */
	}
	100% {
	  opacity: 1;
	  visibility: visible;
	  transform: translateY(0); /* Finie à sa position normale */
	}
  }
  
  /* Classe pour déclencher l'animation */
  .fade-in {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
  }
  