:root {
	--background: #f9f9f9;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400, 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'NewYork', sans-serif;
	background-color: var(--background);
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}