:root {
	--background: #070708;
	--section-bg: #121214;
	--card-bg: #18181B;
	--gray-text: #434349;
	--shape: #49351C;
	--text: #FFFFFF;
	--mark: #FFD4A3;
}

body {
	font-family: 'Syne', sans-serif;
	background-color: var(--background);
}

h2 {
	font-size: 1.25rem;
}
