---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="responsive flex flex-col gap-4">
        <h2 class="subtitle">Contact</h2>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
          suscipit, nunc nec vehicula fermentum, nunc nunc ultricies nunc, nec
          ultricies nunc nunc nec nunc. Nullam suscipit, nunc nec vehicula
          fermentum, nunc nunc ultricies nunc, nec ultricies nunc nunc nec nunc.
          Nullam suscipit, nunc nec vehicula fermentum, nunc nunc ultricies nunc,
          nec ultricies nunc nunc nec nunc.
  </main>
</BaseLayout>
