---
import "../components/index.css";
import Card from "../components/Card.astro";
import Contact from "../components/Contact";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 2);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio | Elie ROBIN</title>
  </head>
  <body>
    <header
      class="flex flex-col m-auto justify-center items-left gap-32 h-screen"
    >
      <div class="flex flex-col gap-5">
        <h2 class="text-2xl w-full text-left text-gray-700">I'm Elie !</h2>
        <h1 class="text-6xl text-gray-700">
          Concevoir des
          <span class="italic text-green-900">interfaces digitales</span>
          centrées sur le visuel.
        </h1>
      </div>
      <div class="w-full flex justify-center items-center">
        <button class="px-12 py-2 bg-gray-700 text-white rounded-md">
          Échanger avec moi !
        </button>
      </div>
    </header>

    <ul>
      {
        posts.map((post) => (
          <li>
            <Card
              url={`/blog/${post.slug}/`}
              miniature={post.data.miniature}
              title={post.data.title}
              description={post.data.description}
            />
          </li>
        ))
      }
    </ul>
    <Contact />

    <footer class="flex bg-transparent justify-center items-center">
      <p class="text-gray-700 text-sm">&copy; 2024 - Elie ROBIN</p>
    </footer>
  </body>
</html>
