---
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";
import Contact from "../components/Contact.astro";

import BaseLayout from "../layouts/BaseLayout.astro";

const posts = (await getCollection("blog"))
---

<BaseLayout>

    <main class="responsive">
      <p class="font-medium text-5xl leading-[4rem]">Salut, je suis <span class="mark">Élie</span>, étudiant en webdesign. J’aime créer des expériences numériques qui allient simplicité et efficacité. Curieux et motivé, je profite de chaque projet pour apprendre et progresser.</p>

      <section class="section">
        <h2 class="subtitle">
          Travaux & Projets
        </h2>

        <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
          {
            posts.map((post) => (
              <li>
                <Card
                  url={`/blog/${post.slug}/`}
                  coverImage={post.data.coverImage}
                  title={post.data.title}
                  pubDate={post.data.pubDate}
                />
              </li>
            ))
          }
      </section>
      
    </main>
    <Contact />
    
</BaseLayout>


