---
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";
import Contact from "../components/Contact.astro";

import BaseLayout from "../layouts/BaseLayout.astro";

const posts = (await getCollection("blog"))
---

<BaseLayout>

    
    <ul>
      {
        posts.map((post) => (
          <li>
            <Card
              url={`/blog/${post.slug}/`}
              coverImage={post.data.coverImage}
              title={post.data.title}
              description={post.data.description}
            />
          </li>
        ))
      }
    </ul>
    <Contact />
    
</BaseLayout>


