---
import HeaderLink from "./HeaderLink.astro";
import { LOGO_PATH } from "../consts";
---

<header class="fixed left-0 w-screen bg-[#f2f0e0]">
  <nav class="px-16 py-6 flex justify-between items-center">
    <h2>
      <img src={LOGO_PATH} alt="Logo du site" class="w-8" />
    </h2>
    <div class="flex space-x-4">
      <HeaderLink href="/" class="text-gray-700 hover:text-gray-700 text-lg"
        >Accueil</HeaderLink
      >
      <HeaderLink href="/blog" class="text-gray-700 hover:text-gray-700 text-lg"
        >Projets</HeaderLink
      >
      <HeaderLink
        href="/about"
        class="text-gray-700 hover:text-gray-700 text-lg">Contact</HeaderLink
      >
    </div>
  </nav>
</header>
