---
import HeaderLink from "./HeaderLink.astro";
import { LOGO_PATH } from "../consts";
---

<header class="fixed top-0 left-0 w-[1080px] bg-background px-4 md:px-8">
  <nav class="flex justify-between">
    <h2>
      <img src={LOGO_PATH} alt="Logo du site" class="w-8" />
    </h2>
    <div class="flex gap-8">
      <HeaderLink href="/" class="text-gray-700 hover:text-gray-700 text-lg"
        >Me concernant</HeaderLink
      >
      <HeaderLink href="/blog" class="text-gray-700 hover:text-gray-700 text-lg"
        >Projets</HeaderLink
      >
      <HeaderLink href="/contact" class="text-gray-700 hover:text-gray-700 text-lg"
        >Contact</HeaderLink>
    </div>
  </nav>
</header>
