---
import HeaderLink from "./HeaderLink.astro";
import { LOGO_PATH } from "../consts";
---
<nav class="navbar bg-section rounded-2xl flex items-center justify-between max-w-[1080px] w-full mx-auto px-4 sm:px-6 lg:px-8 navbar-fade-in">
  <div class="w-12 h-12 rounded-[100px] bg-none border border-white overflow-hidden flex items-start justify-center">
    <img class="mt-[1px]" src={LOGO_PATH} alt="Logo du site" class="w-10" />
  </div>
  <button id="menu-toggle" class="block sm:hidden text-white">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>
  <div id="menu" class="hidden sm:flex gap-4 sm:gap-8 text-white">
    <HeaderLink href="/">Me concernant</HeaderLink>
    <HeaderLink href="/blog">Projets</HeaderLink>
    <HeaderLink href="/contact">Contact</HeaderLink>
  </div>
</nav>
