---
    import BaseHead from "../components/BaseHead.astro";
    import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
    import Header from "../components/Header.astro";
    import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}>
</head>
<body class="flex flex-col gap-8 lg:gap-6 mx-4 md:px-8 xl:px-0 md:mx-auto max-w-screen-xl pt-24 bg-background">
    <Header />
    <slot />
    <Footer />
</body>
</html>