---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, heroImage } = Astro.props;
---

<BaseLayout>
  <main>
    <article class="flex flex-col items-start gap-4">
      <h1>{title}</h1>
      <p>{description}</p>
      <img 'src={heroImage}' alt="Photo du projet"/>

      <div class="prose">
        <slot />
      </div>
    </article>
  </main>

</BaseLayout>
