---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, heroImage } = Astro.props;
---

<!-- PAGE POUR STYLISER LA PAGE PROJET -->

<BaseLayout>
  <main class="responsive">
    <article class="flex flex-col items-start gap-4">
      <h1>{title}</h1>
      <p>{description}</p>
      <div class="flex gap-2 w-full overflow-x-auto overflow-hidden">
        {heroImage.map((image, index) => (
          <img 
            class="h-[500px] w-auto"
            src={image}
            alt={`Image ${index + 1}`}
          />
        ))}
      </div>      
      
      <div class="prose">
        <slot />
      </div>
    </article>
  </main>

</BaseLayout>
